/* ---------------------- header */

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.headerLogo {
	width: 190px;
	height: 150px;
	object-fit: cover;
	margin-left: 0.5rem;
}

.headerNav {
	margin-top: 2rem;
	margin-right: .5rem;
}

.linkNavbar {
	text-decoration: none;
	color: #fd2d01;
	padding: .5rem;
	font-size: 1.2rem;
}

.linkHeaderProfile {
	text-decoration: none;
}

.headerProfileContainer {
	/* border: 1px solid black; */
	display: flex;
	justify-content: right;
	align-items: center;
	padding: .5rem;
}

.nameCurrentUser {
	font-size: .9rem;
	color: #000;
	font-weight: 600;
	margin-top: 0.1rem;
	padding-right: 0.5rem
}
.avatarImg {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 2em;
}

.titleContainer {
	padding-top: 2rem;
	padding-bottom: 1.5rem;
	width: 50%;
}
/* ---------------------- main */
.title {
	text-align: center;
	font-size: 1.6rem;
}

.title-p {
	padding-top: 2rem;
	padding-bottom: 1.5rem;
	text-align: center;
	font-size: 1.2rem;
}

.mainContainer {
	display: grid;
	grid-template-columns: 15% 65% 20%;
	grid-template-areas: "userscontainer postscontainer categoriescontainer";
}
/* categoriesList */
.categoriesContainer {
	/* border: 1px solid black; */
	grid-area: categoriescontainer;
	background-color: #e4482d;

}

.bubbleCategory {
	color: #FFF;
	border-radius: 2rem;
	background-color: #e95d44;
}

.categoryName {
	padding: .5rem;
}

/* usersList */

.usersListContainer {
	grid-area: userscontainer;
	border-right: 2px solid #e4482d;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e4482d;;
}

.list-users {
	margin-top: 1rem;
}

.bubble-user {
	display: flex;
	border: 1px solid grey;
	margin-top: .5rem;
	width: 90%;
	/* box-shadow: 3px 3px 6px rgb(173, 171, 171); */
	border-radius: 5px;
	background-color: #FFF;

}

.bubble-name {

}

.bubble-buisinessRole {

}

.img-bubble {
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 2rem;
}

.avatar-bubble {
	font-size: 1.7rem;
}

/* postList */

.postsListContainer {
	/* border: 1px solid red; */
	grid-area: postscontainer;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title-area {
	width: 100%;
	text-align: center;
	background-color: #e4482d;
	color: #FFF;
	font-weight: 400;
	padding: .5rem 0 .5rem 0;
	font-size: 1rem;
}
.postsContainer {
	margin-top: 1rem;
	min-width: 400px;
	max-width: 600px;
	width: 80%;
	
	/* border: 1px solid yellow; */
}

.card {
	border: 1px solid rgb(194, 197, 194);
	width: 100%;
	margin-top: 1rem;
	box-shadow: 3px 3px 6px rgb(173, 171, 171);
	border-radius: 13px;
}

.card-user-identifierCont {
	display: flex;

}

.card-identifier {
	width: 30px;
	height: auto;
	object-fit: cover;
	margin: .2rem;
}

.card-title {
	padding-top: .5rem;
	margin-left: .1rem;
	font-weight: 400;
	text-align: center;
}

.card-text {
	padding-top: .5rem;
	margin-left: .5rem;
	font-weight: 300;
}

.card-category {
	text-align: right;
	padding: .5rem;
}

.category-name {
	font-weight: 400;
}

.card-img {
	margin-top: .5rem;
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 0 0 13px 13px;
}