/* ---------------------- header */

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: relative;
}

.headerLogo {
	width: 170px;
	height: 120px;
	object-fit: cover;
}

.container-nav {
	position: fixed;
	right: 0;
	width: calc(12% - 1.005%);
	background-color: #FFF;
	z-index: 10;

}
.headerNav {
	display: flex;
	justify-content: center;
	margin-top: .5rem;
	/* margin-right: 1.2rem; */
	
}

.linkNavbar {
	text-decoration: none;
	color: #fd2d01;
	padding: .5rem;
	font-size: 1.2rem;
}

.linkHeaderProfile {
	text-decoration: none;
}

.headerProfileContainer {
	display: flex;
	justify-content: right;
	align-items: center;
	padding: .5rem 0 .5rem .5rem;
	margin-right: 1.5rem;
}

.nameCurrentUser {
	font-size: .9rem;
	color: #000;
	font-weight: 600;
	margin-top: 0.1rem;
	padding-right: 0.5rem;
}

.avatarImg {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 2em;
}

.titleContainer {
	padding-top: 2rem;
	padding-bottom: 1.5rem;
	width: 50%;
}

.title {
	text-align: center;
	font-size: 1.8rem;
	margin-top: .5rem;
	color: rgb(56, 56, 56);
	position: absolute;
	top: 10px;
	right: 50%;
	font-weight: 400;
	transform: translateX(50%);
}

.title > p {
	font-size: .9rem;
	padding: .3rem;
	font-family: var(--contentFontRegular);
}
/* ---------------------- main */


.mainContainer {
	display: grid;
	grid-template-columns: 11% 78% 11%;
	grid-template-areas: "userscontainer postscontainer categoriescontainer";
}

/* categories division */

.categoriesContainer {
	grid-area: categoriescontainer;
	background-color: var(--backgrdColorDivisions);
	display: flex;
	flex-direction: column;
	align-items: center;

}

.icon-header-cate-area {
	font-size: 1.9rem;
	color: #FFF;
	padding: .2rem;
	margin-right: .2rem;
}

.icon-header-post-area {
	margin-top: .05rem;
	font-size: 1.3rem;
	color: #FFF;
	margin-right: .6rem;
}

.header-cate-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-categories {
	width: 90%;
}

.bubbleCategory {
	border-radius: 2rem;
	margin-top: .5rem;
}

.button-bubbleCategory {

	border-radius: 2rem;
	background: none;
	color: #FFF;
	border: none;
	text-align: center;
	font-size: 1rem;
	cursor: pointer;
	outline: inherit;
	font-family: 'Roboto';
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 35px;
	margin-top: .5rem;
	border-radius: 7px;
	background-color: var(--bubblesColor);
	position: relative;
}

.button-bubbleCategory:hover {
	background-color:rgb(67, 109, 201);
}

.categoryName {
	color: #000;
	height: 35px;
	text-align: center;
}

/* usersList division */

.usersListContainer {
	grid-area: userscontainer;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--backgrdColorDivisions);
}

.list-users {
	width: 90%;
}

.bubble-user {
	font-family: 'Roboto';
	display: flex;
	width: 100%;
	height: 35px;
	color: #FFF;
	margin-top: .5rem;
	border-radius: 7px;
	background-color: var(--bubblesColor);
	position: relative;

}

.bubble-name {
	font-family: 'Roboto';
	padding-top: .6rem;
	padding-left: .8rem;
	font-size: 1rem;
}

.bubble-buisinessRole {
	font-family: 'Roboto';
	position: absolute;
	top: 1rem;
	right: 0;
	padding: .2rem;
	font-size: .8rem;
	font-weight: 500;
}

.img-bubble {
	width: 20%;
	height: 100%;
	object-fit: cover;
	border-radius: 7px;
}

.avatar-bubble {
	margin-top: .4rem;
	margin-left: .40rem;
	padding-right: .2rem;
	font-size: 1.9rem;
}

/* postList division */

.postsListContainer {
	grid-area: postscontainer;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--backgrdColorDivisions);
}

.title-area {
	width: 100%;
	margin-top: .2rem;
	text-align: center;
	background-color: var(--backgrdColorDivisions);
	color: #FFF;
	font-weight: 400;
	padding: .5rem 0 .5rem 0;
	font-size: 1rem;
	font-family: var(--contentFontRegular);
}

.title-area-p {
	margin-bottom: .2rem;
	width: 100%;
	margin-top: .2rem;
	text-align: center;
	background-color: var(--backgrdColorDivisions);
	color: #FFF;
	font-weight: 400;
	padding: .5rem 0 .5rem 0;
	font-size: 1rem;
	font-family: var(--contentFontRegular);
}

.title-area-p > button {
	color: #FFF;
	font-weight: 400;
	font-size: 1rem;
	font-family: var(--contentFontRegular);
	border-radius: 7px;
	background-color: var(--bubblesColor);
	border: none;
	display: flex;
	cursor: pointer;
	padding: .1rem .5rem .1rem .5rem; 
}

.postsContainer {
	min-width: 400px;
	width: 100%;	
	background-color: var(--backgrdColorDivisions);
	max-height: 1000px;
	overflow-y: scroll;
}

.loader-container {
	display: flex;
	justify-content: center;

}

.container-load {
	display: flex;
	justify-content: center;
}
.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 44px;
	height: 44px;
	margin: 6px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}

.lds-ring-color div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 44px;
	height: 44px;
	margin: 6px;
	border: 8px solid rgb(111, 106, 106);
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: rgb(111, 106, 106) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* -------------------- card  */
.card {
	font-family: "Roboto";
	width: 100%;
	background-color: #FFF;
	margin-bottom: 1rem;
	border-radius: 13px;
	position: relative;
}

.container-img-title {
	display: flex;
}

.card-user-identifierCont {
	display: flex;
	justify-content: space-between;

}

.card-identifier {
	width: 40px;
	height: 40px;
	object-fit: cover;
	margin-left: .3rem;
	margin: .2rem;
	margin-top: 0;
	border-radius: 13px;
}

.card-title {
	padding-top: .8rem;
	margin-left: .3rem;
	font-weight: 400;
	text-align: center;
}

.container-category-delete {
	display: flex;
}

.delete-button {
	color: rgb(247, 37, 37);
	font-weight: bold;
	font-size: 1.3rem;
	background-color: transparent;
	cursor: pointer;
	outline: inherit;
	border: none;
	margin-right: .5rem;
	margin-top: .1rem;
}
.card-text {
	padding-top: .5rem;
	margin-left: .8rem;
	margin-right: .8rem;
	font-weight: 300;
}

.container-like-icon {
	display: flex;
	margin-top: .4rem;
	padding-top: .5rem;
	margin-left: .4rem;
	padding-bottom: .3rem;


}

.container-like-icon > p {
	display: flex;
	padding-top: .5rem;
	margin-right: .5rem;
}

.button-reaction {
	background-color: #FFF;
	border: none;
	text-align: center;
	font-size: 1rem;
	cursor: pointer;
	outline: inherit;
}

.reaction-icon {
	width: 1.8rem;
	height: 1.3rem;
}

.card-category {
	text-align: right;
	padding: .8rem;
	padding-top: 1rem;
	margin-right: 1rem;
}

.category-name {	
	font-weight: 500;
}

.card-img {
	margin-top: .5rem;
	width: 100%;
	height: auto;
	max-height: 400px;
	object-fit: cover;
	border-radius: 0 0 13px 13px;
	margin-bottom: -.3rem;
}

.card-timeAgo {
	font-size: .9rem;
}

.comment-button-container {
	display: flex;
	justify-content: center;
	
}

.comment-button {
	margin-bottom: 0rem;
	margin-left: .5rem;
	padding: .5rem;
	border: none;
	background-color: #FFF;
	position: absolute;
	bottom: 0;
}

.comment-button:hover{
	cursor: pointer;
}

.No-comment {
	padding-left: .5rem;
	padding-bottom: .5rem;
}

/* -------------- comments */
.global-comments-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 1rem;
	
}

.comments-container {
	margin-top: 1rem;
	border: 1px solid rgb(170, 167, 167);
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: start;
	padding-bottom: 3rem;
	border: 1px solid rgb(191, 188, 188);
	padding-top: 1rem;
}

.title-form-area {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title-form-area > h5 {
	text-align: center;
	padding: .5rem;
	margin-bottom: 1rem;
	font-size: .9rem;
	font-family: var(--contentFontRegular);
}

.img-comment-area {
	margin: .5rem;
	width: 60px;
	margin-top: 1.2rem;
}

.area-container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.area-container > button {
	padding: .5rem;
	margin-top: .5rem;
	background-color: inherit;
	max-width: 50%;
	cursor: pointer;
}

.area-list {
	width: 100%;
}

.area-list > h5 {
	font-size: .9rem;
	text-align: center;
	padding: .5rem;
	margin-bottom: 1rem;
	font-family: var(--contentFontRegular);
}
.comment-container-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	max-height: 268px;
	overflow-y: scroll;
}
.area-create-comment {
	border: 1px solid rgb(191, 188, 188);
	margin-top: 1px;
	min-width: 90%;
	height: 267px;
	font-size: .9rem;
	font-family: "Roboto";
	padding: .5rem;
}
.card-comment {
	font-size: .9rem;
	font-family: "Roboto";
	border: 1px solid rgb(194, 197, 194);
	width: 90%;
	min-height: 4.75rem;
	margin-bottom: 1.2rem;
	box-shadow: 3px 3px 6px rgb(173, 171, 171);
	border-radius: 13px;
	padding: .5rem;
}

.nameAndTimeAgo-container {
	display: flex;
	font-size: .9rem;
	font-weight: 500;
}

.comment-content {
	margin-top: .5rem;
}


/* *********** Page profile */

.main-profile {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-areas: "userdata posts_profile_container ";
}

/* userData area*/
.userData-container {
	grid-area: userdata;
}

.container-header-userData-profile {
	background-color: var(--backgrdColorDivisions);
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-userData-profile {
	background-color: var(--backgrdColorDivisions);
	display: flex;
	justify-content: center;
}

.title-area-profile {
	width: 100%;
	margin-top: .2rem;
	margin-bottom: .15rem;
	text-align: center;
	background-color: var(--backgrdColorDivisions);
	color: #FFF;
	font-weight: 400;
	padding: .5rem 0 .5rem 0;
	font-size: 1rem;
	font-family: var(--contentFontRegular);

}

.cont-userDataInfos {
	display: flex;
	justify-content: center;
}

.section-user-infos {
	margin-top: 1rem;
	width: 90%;
	border: 1px solid gray;
	font-family: "Roboto";
	border-radius: 13px;
}

.container-profile-userDataHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: .5rem;
}

.container-profile-userDataHeader > h3 {
	text-align: center;
	margin-top: .5rem;
}

.container-profile-userData {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-profile-userData > p {
	padding: .4rem;
}

.container-profile-userData > p > span {
	font-weight: 500;
}

.img-user-profile {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	object-fit: cover;
	margin-left: .5rem;
}

/* posts user area */
.profilePosts-list-container {
	grid-area: posts_profile_container;	
}

.container-posts-profile {
	background-color: var(--backgrdColorDivisions);
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-posts-profile {
	background-color: var(--backgrdColorDivisions);
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-post-profile-area {
	margin-bottom: .2rem;
	width: 100%;
	margin-top: .2rem;
	background-color: var(--backgrdColorDivisions);
	color: #FFF;
	font-weight: 400;
	padding: .5rem 0 .5rem 0;
	font-size: 1rem;
	font-family: var(--contentFontRegular);
}

.article-container {
	width: 100%;
	display: flex;
	margin-top: 1rem;
	flex-direction: column;
	align-items: center;
}

.card-profile {
	font-family: "Roboto";
	width: 95%;
	background-color: #FFF;
	margin-bottom: 1rem;
	border-radius: 13px;
	position: relative;
	border: 1px solid gray;
}

/* ------ post creation  */

.postCreation-container {
	background-color: #FFF;
	margin-bottom: 1rem;
	padding: 1rem 1rem 1rem 1rem;
	border-radius: 13px;	
}

.postCreation-container > form {
	
	
}

.general-display-areaMessage {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.container-areaMessage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 220%;
	/* border: 1px solid blue; */
	margin-top: 1.2rem;
}

.container-areaMessge > p {
	font-family: "Roboto";
	font-size: 1rem;
	font-weight: 400;
	
}

.areaMessage {
	width: 100%;
	height: 120px;
	font-family: "Roboto";
	font-size: .9rem;
	padding: .5rem;
}

input[type="file"] {
    display: none;
}

.cont-img-cat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-around;
	padding: .5rem 0 .5rem .5rem;
	/* border: 1px solid red; */
	width: 50%;
}

.cont-image {
	display: flex;
	flex-direction: column;
	margin-top: .9rem;	
}

.cont-image > label {
	font-family: 'Roboto';
	margin-right: .7rem;
	
}

#label-file {
	padding: .35rem;
	cursor: pointer;
	color: #fd2d01;
	text-align: center;
	border: 1px solid grey;
	width: 100%;
	font-size: .9rem;
}

#label-file:hover{
	background-color: rgb(215, 215, 216);
	transition: .3s;
}

.cont-select {
	display: flex;
}

.cont-createCat {
	display: flex;
	flex-direction: column;
	margin-top: .9rem;
	/* margin-bottom: .5rem; */
	
}

.cont-createCat > label {
	font-family: 'Roboto';
	margin-right: .5rem;
	margin-top: .2rem;
	text-align: center;	
	
}

.cont-createCat > input {
	padding: .4rem;
	
}
.cont-createCat > select {
	padding: .35rem;
	
}

.cont-button {
	display: flex;
	justify-content: center;
	margin-top: .5rem;
}

.cont-button > button {
	padding: .5rem;
	cursor: pointer;
	background-color: ;
}

/* signup */

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	align-items: center;
}

.header-signup {
	display: flex;
	justify-content: center;
}

.header-signup > img {
	width: 250px;
}

.container-signup {
	border: 1px solid rgb(169, 163, 163);
	padding: .5rem;
}

.container-signup > form {
	margin-bottom: .7rem;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	font-family: 'Roboto';
	font-weight: bold;
}

.form-group > label {
	margin-bottom: .3rem;
	font-weight: 400;
}

.form-group > input {
	padding: .3rem;
	width: 400px;
}

.form-group .form-control-file {
	padding-left: 0;
}

.signup-cont-button {
	display: flex;
	justify-content: space-between;
}

.signup-cont-button > button {
	padding: .3rem;
	cursor: pointer;
}

/* signin */

.container-signin {
	border: 1px solid rgb(169, 163, 163);
	padding: .5rem;
}

.container-signin > form {
	margin-bottom: .7rem;
}

.signin-cont-button {
	display: flex;
	justify-content: space-between;
}

.send-button {
	margin-left: 1rem;
}

.signin-cont-button > button{
	padding: .3rem;
	cursor: pointer;
}

.switch-button {
	background-color: #FFF;
	color: #fd2d01;
	border: none;
	margin-right: .6rem;
	margin-top: .2rem;
}