@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: "AlmaroseBold";
    src: url("./assets/fonts/Almarose/Almarose-Bold.otf");
}
@font-face {
    font-family: "AlmaroseRegular";
    src: url("./assets/fonts/Almarose/Almarose-Regular.otf");
}
@font-face {
    font-family: "AlmaroseBoldItalic";
    src: url("./assets/fonts/Almarose/Almarose-BoldItalic.otf");
}


:root {
    --loaderColor: #FFF;
    --backgrdColorDivisions: rgb(38, 39, 41);
    --bubblesColor: rgb(79, 82, 89);
    --globalFont: "AlmaroseBold";
    --contentFontRegular: "AlmaroseRegular";
    --contentFontItalic: "AlmaroseBoldItalic";
    --contentFontItalic: "AlmaroseBoldItalic";
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

html, body {
    font-family: "AlmaroseBold", Courier, monospace;
    font-size: 16px;
}

code {
    font-family: Consolas, 'Courier New',
    monospace;
}
